figcaption
  font-style: italic
  text-align: center

dl
  line-height: 1.7

dt
  font-weight: bold
.navbar{
  .site-name{
    display: none;
  }
}
img.logo{
    height: auto !important;
    margin-right: 0.8rem;
    vertical-align: top;
    max-width: 11rem;
    width: 100%;
    margin-top: .3rem;
}