

.nav-item span.title{
  font-size: 1em;
}

.site-name{
  display: none!important;
}

a.home-link img.logo{
    max-width: 240px;
}

.theme-container.no-sidebar .theme-default-content{
  width: 100%;
  max-width: 100%;
}

ul {
 list-style: disc;
}

@media (max-width: 719px){
  a.home-link img.logo{
    min-width: 1.8rem;
    height: 1.8rem;
    vertical-align: middle;
  }
}
